.editor-table {
    display: table;

    user-select: none;
}

.editor-table-row {
    display: table-row;

    min-height: 20px;
    max-height: 20px;

    line-height: 20px;
}

.editor-table-cell {
    display: table-cell;

    min-width: 100px;
    max-width: 100px;
    width: 100px;

    min-height: 20px;
    max-height: 20px;
    height: 20px;

    line-height: 20px;

    padding-left: 6px;
    padding-right: 6px;

    overflow: hidden;

    white-space: nowrap;
}

/* テーブルのセルの上の線の描画 */
.editor-table-row .editor-table-cell {
    border-bottom: 1px solid var(--background-color);
}

/* テーブルのセルの左の線の描画 */
.editor-table-cell {
    border-right: 1px solid var(--background-color);
}
