.editor-table {
    display: table;

    user-select: none;
}

.editor-table-row {
    display: table-row;

    min-height: 20px;
    max-height: 20px;

    line-height: 20px;
}

.editor-table-cell {
    display: table-cell;

    min-width: 100px;
    max-width: 100px;
    width: 100px;

    min-height: 20px;
    max-height: 20px;
    height: 20px;

    line-height: 20px;

    padding-left: 6px;
    padding-right: 6px;

    overflow: hidden;

    white-space: nowrap;
}

/* テーブルのセルの上の線の描画 */
.editor-table-row .editor-table-cell {
    border-bottom: 1px solid var(--background-color);
}

/* テーブルのセルの左の線の描画 */
.editor-table-cell {
    border-right: 1px solid var(--background-color);
}

/* 列ヘッダー行のスタイル */
.editor-table-column-header-row {
    background-color: var(--background-color);
}

/* 列ヘッダーセルのスタイル */
.editor-table-column-header {
    background-color: var(--background-color);
    text-align: center;
    font-weight: bold;
}

/* 行ヘッダーセルのスタイル */
.editor-table-row-header {
    background-color: var(--background-color);
    text-align: center;
    font-weight: bold;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}

/* 左上隅のセルのスタイル */
.editor-table-corner-cell {
    background-color: var(--background-color);
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}
