.sidebar {
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    width: 300px;
    height: 100vh;
    overflow-y: scroll;

    user-select: none;
}

.explorer-file:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .explorer-file:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.explorer-directory {

}

.explorer-directory-name:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .explorer-directory-name:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
