.tab-button {
    padding-left: 16px;
    padding-right: 4px;
}

.tab-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] .tab-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* タブボタンの境界に線を引きます。 */
.tab-button {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
[data-theme="dark"] .tab-button {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

/* 編集中のタブの色を変えます。 */
.tab-button-active {
    background-color: rgba(0, 0, 0, 0.05);
}
[data-theme="dark"] .tab-button-active {
    background-color: rgba(255, 255, 255, 0.05);
}

/* cssで作る閉じるボタンです。 */
/* https://kouhekikyozou.com/css_close_button */
.tab-button-close {
    position: relative;
    width: 20px;
    height: 20px;

    vertical-align: middle;

    background: 0;
    border: 0;

    border-radius: 4px;

    margin-left: 4px;
}

/* 閉じるボタンをマウスオーバー中なら背景をつけます。 */
.tab-button-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] .tab-button-close:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* 閉じるボタンをクリックしている間は閉じるボタンの背景を濃くします */
.tab-button-close:active {
    background-color: rgba(0, 0, 0, 0.2);
}
[data-theme="dark"] .tab-button-close:active {
    background-color:rgba(255, 255, 255, 0.2);
}

/* タブボタンがマウスホバー中は閉じるボタンを表示します */
.tab-button:hover .tab-button-close::before, .tab-button:hover .tab-button-close::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px; /* 棒の幅（太さ） */
    height: 12px; /* 棒の高さ */
    background: var(--font-color);
}

/* タブボタンがマウスホバー中は閉じるボタンを表示します */
.tab-button:hover .tab-button-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
/* タブボタンがマウスホバー中は閉じるボタンを表示します */
.tab-button:hover .tab-button-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
