.tab {
    background-color: var(--background-color);
    color: var(--font-color);

    /*
     * 座標固定で組んでいます。
     * 幅は後でjavascriptで変更できるようにします。
     */
    position: fixed;
    left: 300px;
    top: var(--title-bar-height);
    box-sizing: border-box;
    height: var(--tab-height);
    width: calc(100vw - 300px);
    margin: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    /* タブリストとツールバーを横並びにする */
    display: flex;
    overflow: hidden;

    user-select: none;
}

/* タブボタンのスクロール領域 */
.tab-scroll-area {
    flex: 1;
    min-width: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tab-scroll-area::-webkit-scrollbar {
    height: 4px;
}

.tab-list {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 44px;
    list-style: none;
    white-space: nowrap;
    /* 親の.tab-scroll-areaの高さを埋めるために100%を設定する */
    height: 100%;
}
