.tab {
    background-color: var(--background-color);
    color: var(--font-color);

    /*
     * 座標固定で組んでいます。
     * 幅は後でjavascriptで変更できるようにします。
     */
    position: fixed;
    left: 300px;
    top: 0;
    height: 36px;
    width: calc(100vw - 300px);
    margin: 0;

    /* 横スクロールのみです。 */
    overflow-x: scroll;
    overflow-y: hidden;

    user-select: none;
}

.tab::-webkit-scrollbar {
    height: 4px;
}

.tab-list {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 32px;
    list-style: none;
    white-space: nowrap;
}
